@import 'ol-layerswitcher/src/ol-layerswitcher.css';




@media screen and (min-width: 1024px) {

    .layer-switcher {
        right: 0.9em;
    }

    .ol-control button {
        height: 0rem;
        width: 0rem;
        background-color: rosybrown;
    }
    .layer-switcher button {
        height: 0rem;
        width: 0rem;
        background-color: rosybrown;
    }

}