.legend-frame {
    z-index: 10;
    position: absolute;
    right: 1%;
    top: 26%;

    border: 2px solid #4a4d76;
    border-radius: 3px;
    background-color: white;
}

.legend-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #4a4d76;
    text-align: center;
    padding: 2px 2px 4px 2px;
}

