//---------------------------
//HEADER and SUBHEADER---------------------------------
//--------------------------
.br {
    display: block;
    visibility: visible;
    font-size: xx-small;
    color: #db5740;
    text-align: start;

}
.header {
    width: 100%;
    height: 100px;
    padding: 6px;
    background-color: #1d2247;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__titlebox {
        display: inline-block;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 1.2rem;

        width: 70%;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

    }

    &__title {
        display: block;
        text-align: start;
    }

    &__logos {
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 30%;
        background-color: white;
        border-radius: 3px;

        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,1)), color-stop(55%, rgba(230,232,236,1)), color-stop(100%, rgba(143,162,188,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8fa2bc', GradientType=1 );

        &-text {
            //visibility: hidden;
            display: none;
        }

        &-1 {
            background-image: url(./img/overrrrrrrr.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 45px;
            width: 70px;
            margin-top: 5px;
        }
        &-2 {
            background-image: url(./img/ine.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 85px;
            width: 60px;
        }
    }

}
.subheader {
    width: 100%;
    height: 60px;
    padding: 6px;
    background-color: #4a4d76;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;

    &__title {
        display: none;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 0.8rem;
        //font-style: italic;
        text-transform: uppercase;
        opacity: 0.5;
        margin-top: auto;
        margin-bottom: 6px;
        padding-right: 10px;
    }
    &__logo {
        background-image: url(./img/logo_contacta.png);
        background-repeat: no-repeat;
        background-size: cover;

        display: inline-block;
        
        height: 35px;
        width: 80px;

        margin-top: 8px;
    }
    &__author {
        font-weight: 700;
        font-size: 0.6rem;
        font-style: italic;
        opacity: 0.5;
        margin-top: auto;
        margin-bottom: 6px;
    }
}

.frame {
    border: 1px solid black;
    margin: 6px;

    height: 500px;

}

.map {
    width: 100%;
    height: 100%;
    //background-color: cadetblue;
}


@media screen and (min-width: 1024px) {

    //---------------------------
    //HEADER and SUBHEADER---------------------------------
    //--------------------------

    .br {
        visibility: visible;
        display: block;
        text-align: start;
        color: #db5740;
        font-size: xx-large;
    }

    .header {
        padding: 16px;
    
        &__titlebox {
            font-size: 1.5rem;
            width: 60%;
            display: flex;
            justify-content: flex-start;
        }
    
        &__title {
            display: block;
        }
    
        &__logos {
            display: inline-block;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            width: 40%;
            background-color: 	#91a3bd;
            border-radius: 8px;

            background: rgba(255,255,255,1);

            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,1)), color-stop(55%, rgba(230,232,236,1)), color-stop(100%, rgba(143,162,188,1)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(230,232,236,1) 55%, rgba(143,162,188,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8fa2bc', GradientType=1 );

            &-text {
                visibility: visible;
                display: initial;
                color: #1d2247;
                font-family: 'Roboto';
                font-weight: 600;
                margin-right: 35px;
            }
    
    
            &-1 {
                background-image: url(./img/overrrrrrrr.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 55px;
                width: 130px;
                margin-top: 5px;
                margin-right: 20px;
            }

            &-2 {
                background-image: url(./img/ine.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 85px;
                width: 100px;
            }
        }
    
    }

    .subheader {
    
        &__title {
            display: initial;
            visibility: visible;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            opacity: 0.5;
            margin-top: auto;
            margin-right: 15px;
            margin-bottom: 6px;
        
            
        }
        &__subtitle {
            display: none;

        }
        &__logo {
            background-image: url(./img/logo_contacta.png);
            background-repeat: no-repeat;
            background-size: cover;
    
            display: inline-block;
            
            height: 35px;
            width: 80px;
    
            margin-top: 8px;
        }
        &__author {
            font-weight: 700;
            font-size: 0.9rem;
            font-style: italic;
            opacity: 0.5;
            margin-top: auto;
            margin-bottom: 6px;
        }
    }

    .frame {
        margin: 0px;
        height: 100vh;
    }

}